.dltview {
    display: flex;
    align-items: center;
    justify-content: space-between;
    column-gap: 5px;
}

.status_btn {
    display: flex;
    align-items: center;
    border-bottom: 1px solid #ddd;
    padding-bottom: 20px;
    column-gap: 10px;
    margin-top: 10px;
}

.csvdiv>label {
    display: block;
}

.status_btn label {
    font-size: 13px;
    font-weight: 500;
}

.btnsr>button,
.csvdiv>a,
.clearbx>div {
    border-radius: 3px;
    display: block;
    width: 100%;
    box-sizing: border-box;
    font-size: 13px;
    font-weight: 500;
    transition: all .5s ease-in-out;
    white-space: nowrap;
    cursor: pointer;
}

.btnsr>button {
    background: #0445bd;
    color: #fff;
    border: 1px solid #0445bd;
    padding: 9px 15px;
}

.clearbx>div {
    white-space: nowrap;
    cursor: pointer;
}

.btnsr>button:hover {
    background: #fff;
    color: #0445bd;
    border: 1px solid #0445bd;
}

.csvdiv>a {
    background: #3e8e41;
    color: #fff;
    border: 1px solid #3e8e41;
    padding: 9px 10px;
}

.csvdiv>a:hover {
    background: #fff;
    color: #3e8e41;
    border: 1px solid #3e8e41;
}

.clearbx>div {
    background: #eee;
    color: #000;
    border: 1px solid #ddd;
    padding: 9px 8px;
}

.clearbx>label {
    display: block;
}

.tblall tr th {
    border: 1px solid #eee;
    font-size: 14px;
    white-space: nowrap;
    background: #f7f7f7;
    color: #3e3d3d;
    padding: 10px 15px;
}

.tblall tr th h3 {
    margin: 0;
    font-size: 14px;
}

.responsive-table {
    overflow-x: auto;
    margin-top: 20px;
}

.pagging_bx {
    margin: 20px 0px;
}

.pagging_bx .MuiToolbar-root {
    display: flex;
    align-items: center;
}

.pagging_bx .MuiToolbar-root p {
    margin: 0;
}

.tblall .btnall_tbl {
    transition: all .5s ease-in-out;
}

.tblall .btnall_tbl svg {
    font-size: 16px;
}

.tblall .view_btn {
    background: #0445bd;
    color: #fff;
    border: 1px solid #0445bd;
}

.tblall .view_btn:hover {
    background: #fff;
    color: #0445bd;
    border: 1px solid #0445bd;
}

.tblall .delete_btn {
    background: #ea0202;
    color: #fff;
    border: 1px solid #ea0202;
}

.tblall .delete_btn:hover {
    background: #fff;
    color: #ea0202;
    border: 1px solid #ea0202;
}